* {
  /* border: 5px solid red; */
  padding: 5px;
}
body {
  background-image: url("https://www.drifted.com/wp-content/uploads/2014/05/IMG_8858-Edit.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  align-content: center;
}

header {
  height: 10em;
  margin: 5px;
  padding: 5px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 27px;
  color: rgb(255, 255, 255);
  text-align: center;
}
h1.welcome-text {
  padding: 0;
  margin: 0;
}
.left-nav img {
  max-width: 50%;
  height: auto;
}
.left-nav,
.right-nav {
  max-width: 15%;
}
.car-image {
  max-width: 100%;
  height: auto;
}
.right-nav img {
  max-width: 50%;
  height: auto;
}
.turboimage {
  vertical-align: middle;
}
.image-container {
  display: flex;
  flex-wrap: nowrap;
  height: 10em;
  width: 20em;
  align-items: center;
}
.image-overlay {
  vertical-align: top;
  display: flex;
  margin: 0;
  padding: 0;
}
.image-overlay img {
  max-width: 50px;
  max-height: 50px;
  border-radius: 35px;
}
.main-container {
  display: flex;
  justify-content: center;
}
.car-image-container {
  background-image: url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/2021-suabru-wrx-sti-mmp-1-1597760372.jpg");
  background-size: contain;
  background-position: top;
  height: 250px;
  width: 300px;
  background-repeat: no-repeat;
}

.turbo {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTpWsEdl9DLaS6kcagQ5jk07VwMAilDsGGvViHDD7yL4ZgrQSpfrwW8kFqrcTENHOGPilHBaG8&usqp=CAc");
  padding: 0;
  background-size: contain;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  height: 150px;
  width: 150px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* .car-name {
    vertical-align: text-top;
  } */
/* footer {
    height: 5em;
    margin: 5px;
    padding: 5px;
    background-image: ("images/turbologo.png");
    background-repeat: no-repeat;
    background-size: 350px;
    background-position: bottom center;
} */ ;
